@import "./libs/normalize";
@import "./components/header";
@import "./components/main";


@font-face {
  font-family: 'lt_reponsebold';
  src: url('fonts/lt_reponse_bold-webfont.woff2') format('woff2'),
  url('fonts/lt_reponse_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

[class*="__container"] {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.button {
  padding: 4px 18px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: box-shadow 0.3s ease 0s;
  &_green {
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    color: #008767;
  }
  &_red {
    background: #FFC5C5;
    border: 1px solid #DF0404;
    color: #DF0404;
  }
}

@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0 4px 25px rgba(232, 170, 49, 0.63);
  }
}

.button_border {
  background-color: #fff;
  border: 1px solid #e8aa31;
  color: #e8aa31;
  box-shadow: none;
}